# backend/requirements.txt
fastapi
uvicorn[standard]
sqlalchemy
sqlalchemy-bind-manager
psycopg2-binary # PostgreSQL adapter
pydantic
python-dotenv
httpx
celery
redis
cryptography
PyNacl
python-jose[cryptography] # For JWTs
passlib[bcrypt] # For hashing
